{% load static %}
    <div class="offcanvas-body">
      <ul class="list-unstyled m-3">
        <li class="my-4"><a href="{% url "home" %}" class="text-decoration-none"><i class="fa-solid fa-head-side-virus fa-lg me-2"></i> Therapy</a></li>
        <li class="my-4"><a href="{% url "meditation" %}" class="text-decoration-none"><i class="fa-solid fa-peace fa-lg me-2"></i> Meditation</a></li>
        <li class="my-4"><a href="{% url "task-management" %}" class="text-decoration-none"><i class="fa-solid fa-list-check fa-lg me-2"></i> Manage Tasks</a></li>
        <li class="my-4"><a href="https://www.uwc.ac.za/campus-life/sds-departments/centre-for-student-support-services" class="text-decoration-none"><img src="{% static "img/uwclogo.png" %}" alt="logo not found" width="25" height="25" class="me-2">UWC CSSS</a></li>
        <li class="my-4"><a href="https://www.uwc.ac.za/news-and-announcements/announcements/mental-health-support-for-students" class="text-decoration-none"><img src="{% static "img/uwclogo.png" %}" alt="logo not found" width="25" height="25" class="me-2">UWC Mental Health Support</a></li>
        <li class="my-4"><a href="https://www.uwc.ac.za/news-and-announcements/news/uwcs-commitment-to-mental-health-a-transformative-journey" class="text-decoration-none"><img src="{% static "img/uwclogo.png" %}" alt="logo not found" width="25" height="25" class="me-2">UWC Mental Health Commitment</a></li>

      </ul>
      
    </div>
